.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: beige;
}

.authLinks {
  color: var(--color-bg);
  text-decoration: none;
  padding: 0.5rem;
  font-weight: 700;
  font-size: 20px;
}

.authLinks:hover {
  scale: 1.2;
  text-decoration: underline;
  color: brown;
}
